* {
    margin:             0;
    border:             0;
    padding:            0;
}

body {
    font-family:        sans-serif;
}

h1 {
    position:           fixed;
    left:               50%;
    width:              200px;
    margin-left:        -186px; /* 100 + 86*/
    top:                12px;
    text-align:         center;
    color:              #444;
}

#ctn {
    position:           fixed;
    right:              12px;
    top:                12px;
    bottom:             12px;
    width:              180px;
    background-color:   #DDD;
    border-radius:      6px;
    overflow:           hidden;
    overflow-y:         auto;
}

#ctn p {
    padding:            3px 6px;
}

#cells {
    position:           fixed;
    margin-left:        -306px; /* 192 (128*3/2) + 18 (6*2*3/2) + 86 (180+12/2) */
    margin-top:         -210px;
    left:               50%;
    top:                50%;

    -webkit-touch-callout:  none;
      -webkit-user-select:  none;
       -khtml-user-select:  none;
         -moz-user-select:  none;
          -ms-user-select:  none;
              user-select:  none;
}

button {
    width:              128px;
    height:             128px;
    line-height:        128px;
    font-size:          128px;
    font-weight:        bold;
    margin:             6px;
    background-color:   #DDD;
    border:             0;
    border-radius:      6px;
}

button.empty:hover {
    background-color:   #CCF;
    cursor:             pointer;
}

button.x {
    color:              #D33;
}

button.x:before {
    content:            "X";
}

button.o {
    color:              #33D;
}

button.o:before {
    content:            "O";
}
